[data-bs-theme=dark] {
  --bs-link-color: #ffffff;
  --bs-link-color-rgb: 255,255,255;
  --bs-link-hover-color: #fbfbfb;
  --bs-link-hover-color-rgb: 251,251,251;
  --bs-focus-ring-color: rgba(255,255,255,0.25);
}

